@import '../mixins';

$height: 40px;

.font-size-changer {
    display: inline-block;
    .font-size-changer-buttons {
        > div {
            float: left;
            border: 1px solid;
            text-align: center;
            line-height: $height;    
            @include box-sizing();
            // @include border-radius(5px);
            @include noselect();
        }
    }
}